/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    margin: 0 15px;
}
.list-inline a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

.logo-nav {
    width: 10%;
}

.nav-left {
    width: 50%;
    text-align: left;
}

.nav-right {
    width: 40%;
    text-align: right;
}

.jumbotron {
    position: relative;
    height: 500px;
}

.conteiner {
    height: 100px;
    line-height: 100px;
}

.content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.w80 {
    width: 80%;
    margin: 0 auto;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33%;
}

h1 {
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 60px;
}
h2 {
    font-size: 40px;
    line-height: 50px;
}
h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
p {
    font-size: 23px;
    color: grey;
}
.text-route p {
    margin: 20px 0;
}
main>hr {
    margin: 40px 0;
    border: 1px solid #d3d3d3;
}
.info hr {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25%;  
    margin: 25px 0;
}

.list-inline a:not(.btn):hover {
    color: hsl(80deg 98% 37%);
}


/* buttons */
.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-green {
    background-color: hsl(80deg 98% 37%);
    border: 1px solid hsl(80deg 98% 37%);
}
.btn-blu {
    background-color: #0C325A;
    border: 1px solid white;
    padding: 5px 30px;
}
.btn-large {
    padding: 20px 30px;
}
a.btn:hover {
    color: hsl(80deg 98% 37%);
    background-color: white ;
    border: 1px solid hsl(80deg 98% 37%);
}


/* header */
header {
    height: 600px;
    background-color: #0C325A;
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 108% bottom;
}

/* main */
.grey-bar {
    position: relative;
    height: 150px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #d3d3d3;
}
.bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info img {
    height: 150px;
}

.info {
    padding: 0 45px;
    position: relative;
    text-align: center;
}

.info h3 {
    margin-top: 30px;
    color: #7dbb02;
}

.text-route {
    margin: 40px 80px;
}
.text-route a {
    color: #5586bc;
}


/* footer */
footer {
    height: 200px;
    line-height: 200px;
    background-color: #d3d3d3;
}

.footer-left h2 {
    line-height: 200px;
    vertical-align: middle;
}

.footer-right {
    text-align: right;
}

footer p {
    display: inline-block;
}

#select {
    width: 200px;
    font-size: 23px;
    margin: 0 20px;
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

/* help */
.help {
    position: fixed;
    bottom: 0;
    right: 15%;
}